div {
    background-color: lightblue;
    width: 20%;
}
body {
    background-image: url(xayan.jpg);
    background-repeat: no-repeat;
    background-size: 100%
}
h1 {
    color: goldenrod;
    text-align: right;
}
h2 {
    color: blanchedalmond;
    text-align: center;
}
p {
    color: yellow;
}
b {
    color: red;
    font-size: 200%;
}